main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin: 0rem;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
}
section img{
    max-width:350px;
    height: auto;
}